.container
{
	width:1380px;
}
.container2
{
	direction:rtl;
}
#img1
{
	width:1380;
	height:550;
	position:absolute;
}
#form1
{
	position:absolute;
}
#form1 select
{
	width:400px;
	height:50px;
	direction:rtl;
	margin:40px 0 0 400;
	font-size:40px;
}
#form1 select option
{
	font-size:20px;
}
#butt1
{
	width:400px;
	height:50px;
	margin:40px 0 0 400;
	font-size:30px;
	border-radius:50px;
	border:2px solid #3e0f0f;
	background-color:green;
}
div .head
{
	color: green;
    background-color: red;
    margin-right: 350px;
    text-shadow: 0 0 black;
    display: inline-block;
    padding: 25px;
    font-size: 50px;
}
table
{
    border:0px;
    width:50%;
	margin-right:25%;

}
thead
{
   background-color: green;
   text-align:center;
}
thead tr td
{
   padding:20px;
}
tbody
{
  background-color: blue;
  text-align:center;
}
tbody tr td
{
   padding:25px;
}
#error
{
	display:block;
	direction:rtl;
	text-align:right;
	font-size:30px;
	color:green;
}
#home
{
	direction: rtl;
    text-decoration: none;
    color: #03f77b;
    font-size: 30px;
    background-color: blue;
    border-radius: 10px;
    font-weight: bold;
    padding:10px;
	margin-right:45%;
}
#home:hover
{
   background-color: green;
}